<strong>Olá, {{ carrier }} ! </strong>
<br />
<p>Uma encomenda atribuída a você foi cancelada por um administrador.
  
  <p>Confira os detalhes abaixo: </p>

  <ul><strong>Produto:</strong> {{product}}</ul>
  <ul><strong>Destinatário:</strong> {{recipient}}</ul>
  <ul><strong>Cidade:</strong> {{city}}</ul>
  <ul><strong>CEP:</strong>{{zipcode}}</ul>

  <br />

</p>
{{ footer }}