<strong>Olá, {{ carrier }} ! </strong>
<br />
<p>Uma nova encomenda foi atribuída a você. Assim que puder, faça a retirada em nosso depósito.
  <p>Confira os detalhes abaixo: </p>

  <ul><strong>Produto:</strong> {{product}}</ul>
  <ul><strong>Destinatário:</strong> {{recipient}}</ul>
  <ul><strong>Rua:</strong> {{street}}</ul>
  <ul><strong>Nº:</strong> {{number}}</ul>
  <ul><strong>Complemento:</strong> {{complement}}</ul>
  <ul><strong>Cidade:</strong> {{city}}</ul>
  <ul><strong>Estado:</strong> {{state}}</ul>
  <ul><strong>CEP:</strong>{{zipcode}}</ul>

  <br />
  Não se esqueça que você só pode retirar 5 encomendas por dia!.

</p>
{{ footer }}